# Pandas란?

데이터 분석 및 가공에 사용되는 파이썬 라이브러리

사용 빈도가 매우 높음, 엑셀과 상당히 유사

데이터의 수정/가공 및 분석이 용이하고, 데이터 가공을 위한 수많은 함수를 지원

Numpy 기반으로 데이터 처리가 상당히 빠름

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df.to_csv('dataSet/friends_out5.csv', header = ['name', 'age', 'job', 'hobby'])

아래는 **None** 값이 있는 데이터프레임의 예제

In [ ]:
friends = [['신동엽',20,'연예인','music'], 
           [None,None,'교수','art'], 
           ['김새롬',18,'학생','study'], 
           ['이영자',45,'상담사','talk'], 
           ['강호동',38,'연예인','talk']]

df = pd.DataFrame.from_records(friends)

In [ ]:
df.head()

In [ ]:
df.to_csv('dataSet/friends_out6.csv')

In [ ]:
df

**na_rep** 을 사용하시면 **None** 을 원하시는 값으로 쉽게 변경하실 수 있습니다.

In [ ]:
df.to_csv('dataSet/friends_out7.csv', na_rep = '-')

## 예제 구성 - 학생들의 중간, 기말 고사 성적

>* 다양한 연산식을 적용하여 새로운 컬럼을 추가해 보기

In [ ]:
friend_dict_list = [{'이름': '나학생1', '중간고사점수': 95, '기말고사점수': 85},
         {'이름': '나학생2', '중간고사점수': 85, '기말고사점수': 80},
         {'이름': '나학생3', '중간고사점수': 10, '기말고사점수': 30}]

df = pd.DataFrame(friend_dict_list, columns = ['이름', '중간고사점수', '기말고사점수'])
df

In [ ]:
# ??? 총점을 구한된 새로운 컬럼 추가하기

df['총점'] =

In [ ]:
df

In [ ]:
# ??? 총점을 기준으로 평균을 구하고 DataFrame 컬럼으로 추가하기

df['평균'] =

In [ ]:
df

### 힌트
>* 1. DataFrame의 '평균' 컬럼값을 for in 반복문을 통해서 출력해 보기

>* 2. 리스트 생성해서 DataFrame에 '등급'이라는 컬럼으로 추가해 보고 dorp으로 삭제하기

>* 3. list 에 새로운 데이터 추가를 위한 append() 활용해 보기

In [ ]:
#? 평균 컬럼값을 for in 문장 통해서 출력해 보기

In [ ]:
df['등급'] =  ['A', 'B', 'C']

In [ ]:
df.drop('등급', axis=1)

apply 함수 사용 예제입니다.  
apply를 사용하시면, 깔끔하게 컬럼의 값을 변경하는 코드를 구현하실 수 있습니다.

In [ ]:
# ? 힌트를 기반으로 직접 만들어 보기
# 등급 컬럼 추가하기
# 리스트에 조건별 값을 담아서, 새로운 컬럼으로 추가해 보기

In [ ]:
df

In [ ]:
def pass_or_fail(row):
   # print(row)
    if row != "F":
        return 'Pass'
    else:
        return 'Fail'

In [ ]:
df.등급

In [ ]:
df.등급 = df.등급.apply(pass_or_fail)

In [ ]:
df

apply를 사용해서 연월일의 정보에서 연도만 빼보기

In [ ]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2018-12-20'}]

df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])

df

In [ ]:
def extract_year(row):
    return row.split('-')[0]

In [ ]:
# 년도만 분리해서 'year'라는 새로운 컬럼 추가히기
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [ ]:
df

### apply 함수에 파라미터 전달하기
키워드 파라미터를 이용하여, apply가 적용된 함수에 파라미터를 전달하기

In [ ]:
# 현재 년도를 기준으로 DataFrame에 저장된 년도의 컬럼값과 빼기를 해서 몇년도가 지났는지를 계산하는 함수

def extract_year(year, current_year):
    return current_year - int(year)

In [ ]:
# extract_year 함수를 호출하고 age 컬럼을 DataFrame에 추가하기

df['age'] = df['year'].apply(extract_year, current_year=2018)
df

### apply 함수에 한 개 이상의 파라미터 전달하기
키워드 파라미터를 추가해주시면, 원하시는만큼의 파라미터를 함수에 전달 가능합니다.

In [ ]:
def getInfo(age, prefix, suffix):
    return prefix + str(age) + suffix

In [ ]:
df['info'] = df['age'].apply(getInfo, prefix="내 나이는 ", suffix=" 살")
df

In [ ]:
df = df.drop('introduce', axis=1)
df

# 데이터프레임에 로우 추가하기

In [ ]:
friend_dict_list = [{'이름': '나학생1', '중간고사점수': 95, '기말고사점수': 85},
         {'이름': '나학생2', '중간고사점수': 85, '기말고사점수': 80},
         {'이름': '나학생3', '중간고사점수': 10, '기말고사점수': 30}]

df = pd.DataFrame(friend_dict_list, columns = ['이름', '중간고사점수', '기말고사점수'])
df

In [ ]:
#? 컬럼 이름 추가하기

df2 = pd.DataFrame([['나학생4', 50,50]], columns = ['이름', '중간고사점수', '기말고사점수'])

In [ ]:
df2.head()

In [ ]:
df.append(df2)

In [ ]:
df.append(df2, ignore_index=True)

# Group by

데이터에서 정보를 취하기 위해서 그룹별로 묶는 방법에 대해 학습 하기

In [ ]:
student_list = [{'name': 'John', 'major': "Computer Science", 'gender': "male"},
                {'name': 'Nate', 'major': "Computer Science", 'gender': "male"},
                {'name': 'Abraham', 'major': "Physics", 'gender': "male"},
                {'name': 'Brian', 'major': "Psychology", 'gender': "male"},
                {'name': 'Janny', 'major': "Economics", 'gender': "female"},
                {'name': 'Yuna', 'major': "Economics", 'gender': "female"},
                {'name': 'Jeniffer', 'major': "Computer Science", 'gender': "female"},
                {'name': 'Edward', 'major': "Computer Science", 'gender': "male"},
                {'name': 'Zara', 'major': "Psychology", 'gender': "female"},
                {'name': 'Wendy', 'major': "Economics", 'gender': "female"},
                {'name': 'Sera', 'major': "Psychology", 'gender': "female"}
         ]
df = pd.DataFrame(student_list, columns = ['name', 'major', 'gender'])
df

In [ ]:
#? 전공(major)으로 group 하기

In [ ]:
groupby_major.groups

In [ ]:
groupby_major

In [ ]:
type(groupby_major)

In [ ]:
groupby_major.name

In [ ]:
groupby_major.gender

In [ ]:
groupby_major.major

In [ ]:
for name, group in groupby_major:
    print(name + ": " + str(len(group)))
    print(group)
    print()

### 그룹 객체를 다시 데이터프레임으로 생성하기

In [ ]:
df_major_cnt = pd.DataFrame({'count' : groupby_major.size()})
df_major_cnt

In [ ]:
df_major_cnt = pd.DataFrame({'count' : groupby_major.size()}).reset_index()
df_major_cnt

### Lab - ? 학교의 남녀 성비가 균등하다는 정보 알아보기

>* gender 별로 그룹화 하기

>* 그룹 단위로 이름, 전공, 성별 출력하기

>* 성별 인원스로 새로운 DataFrame 생성하기

In [ ]:
groupby_gender = df.groupby('gender')

In [ ]:
#? 그룹별 정보를 반복문 통해서 자유롭게 출력해 보기

In [ ]:
df_gender_cnt = pd.DataFrame({'count' : groupby_gender.size()}).reset_index()
df_gender_cnt